<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Minimal syntax highlighting for Pig.</string>
	<key>name</key>
	<string>Pig</string>
	<key>uuid</key>
	<string>5679297D-6227-11D9-BFB1-000D93589AF6</string>
</dict>
</plist>
